body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
}

img {
    width: 250px;
    height: 200px;
    margin: 10px;
}

.producto {
    display: inline-block;
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px;
    cursor: pointer;
}

footer {
    margin-top: 30px;
    text-align: center;
    background-color: #222;
    color: white;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}